body {
    font-family: Arial, sans-serif;
    background-image: url('assets/image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
}

.title h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card {
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.card-overlay {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 18px;
    transition: bottom 0.3s ease-in-out;
}

.card:hover .card-overlay {
    bottom: 0;
}

.modal-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    padding: 20px;
    border-radius: 10px;
}

.modal-img {
    width: 40%;
    height: 100%;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-info {
    width: 60%;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.modal-text {
    font-size: 14px;
    line-height: 1.6;